
.btn-prev,
.btn-next {
    width: 100px; 
    height: 100px;
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: fixed; 
    top: 50%; 
}

.btn-prev {
    left: 10px; 
}

.btn-next {
    right: 10px; 
}

.btn-prev:hover,
.btn-next:hover {
    
    color: black; 
    border: 2px solid #007BFF;
}
